$back-color: #202020;
$color-text: #fff;
$color-btn: #ff6e30;
$color-text-gray:#cacaca;
$font-main: "Roboto", sant-serif;
$font-second: "Gilroy",sant-serif;
$media1340: 1340px;
$media1024: 1020px;
$media765: 765px;

$color-hover:#ff6e30;
$color-focus: #BC572B;
$color-active: #CE4307;
